<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Supreme Sai Enterprise</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Sailor - v4.10.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
    <header>
        
    </header>
    <div class="top_bar fixed-top">



    </div>


 
    <div class="container-fluid bring_to_front " style="margin-top:180px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/engine.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
    <script src="~/js/core.js"></script>
    <script src="~/js/full-screen-helper.min.js"></script>
   @*<script language="JavaScript" type="text/javascript"> var $jQuery = jQuery.noConflict(); </script>*@
    
 

     @*//Open EXE file*@
   <script type="text/javascript">

       function copy(x){
  var copyName = document.getElementById("item_name__");
 
           if(x==1){
      
  //COPY ITEM NAME
  copyName.select();
  copyName.setSelectionRange(0, 99999);
  $("#c_name").text("Copied..")

  
  
  //COPY ITEM PRICE
  copyName.select();
  copyName.setSelectionRange(0, 99999);

  
 navigator.clipboard.writeText(copyName.value);
  event.preventDefault(); 




  //alert("Item name copied successfully.Paste it in the bartender app.")

  }
  else if(x==2){
       var copyPrice = document.getElementById("item_price__");
   //COPY ITEM PRICE
  copyPrice.select();
  copyPrice.setSelectionRange(0, 99999);  
     navigator.clipboard.writeText("Ksh. "+copyPrice.value+".00");

  //alert("Item price copied successfully.Paste it in the bartender app.")
  $("#c_price").text("Copied..")
   
  }
  else{
  var copyBarcode = document.getElementById("b_number__");
   
   //COPY BARCODE NUMBER
  copyBarcode.select();
  copyBarcode.setSelectionRange(0, 99999);  
  //var s2 = copyBarcode.value.substring(1);
  //var s3 = s2.slice(0, -1);find_details
  navigator.clipboard.writeText(copyBarcode.value);
  $("#c_code").text("Copied..")

  //alert("Barcode number copied successfully. Paste it in the bartender app.")
  
  }

 }

 function openBartender()
{
          
           event.preventDefault(); 




           document.dispatchEvent(new CustomEvent('funcIntraLaunch',
           {
              'detail': { task: 'run',
                          program: 'BarTend.exe',
                          workingfolder: 'C:\\Program Files (x86)\\Seagull\\BarTender UltraLite',
                          switches: '',
                          windowstate: 'max',
                          showerrors: 'true'
                        } })); 
       }
   </script>
    
    @RenderSection("Scripts", required: false)
    @RenderSection("increment", required: false)
    @RenderSection("debt", required: false)
    @RenderSection("debt1", required: false)
    @RenderSection("debt2", required: false)
    @RenderSection("exp", required: false)
    @RenderSection("increment1", required: false)

</body>
</html>
